.formitems {
    display: grid;
    grid-template-columns: 15%;
    justify-content: center;
    text-align: center;
}

.formfield {
    margin: 5px;
    padding: 5px;
}

.flex-grid {
    display: flex;
    flex-direction: column;
}

.flex-grid input {
    border: 2px solid black;
    border-radius: 12px;
}

.createform button {
    border: 1px solid black;
    border-radius: 6px;
}

.searchform button {
    border: 1px solid black;
    border-radius: 6px;
}

.phone-field-ext {
    display: none;
}

#id_phone_number_1 {
    display: none;
}

.phone-field-ext {
    display: none;
}

#id_form_customer_create-phone_number_1 {
    display: none;
}

#id_form_customer_search-phone_number_1 {
    display: none;
}