.form {
    display: flex;
    justify-content: center;
    width: 100%
}

.formitems p{
    display: flex;
}

.phone-field-ext {
    display: none;
}



#id_phone_number_1 {
    display: none;
}

.phone-field-ext {
    display: none;
}

#id_form_customer_create-phone_number_1 {
    display: none;
}

#id_form_customer_search-phone_number_1 {
    display: none;
}