.createform {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.createform p {
    margin: 10px;
    text-align: left;
}

.searchform {
    display: flex;
    justify-content: center;
}

.searchform button {
    text-align: center;
}

.phone-field-ext {
    display: none;
}



#id_phone_number_1 {
    display: none;
}

.phone-field-ext {
    display: none;
}

#id_form_customer_create-phone_number_1 {
    display: none;
}

#id_form_customer_search-phone_number_1 {
    display: none;
}