.workorders {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.workorder > div{
    border-style: groove;
    border-color: blue;
    background-color: darkgrey;
    margin: 70px;
    padding: 20px;
}

a {
    text-decoration: none;
}

.addremove {
    display: flex;
    justify-content: center;
}