{% extends 'shop/base.html' %}
{% load static %}

{% block additional_css %} <link rel="stylesheet" href="{% static 'css/addorder.css' %}"> {%endblock%}

{% block content %}
    <h1>Create work order</h1>
    <div class="addgridcontainer">
    <form method="post">
        {% csrf_token %}
        {% for item in work_order_create %}
        <div class="griditems">
            <p class="title">
            {{ item.label_tag }}
            </p>
            {{ item }}
        </div>
        {% endfor %}
    </form>
    </div>
        <button type="submit">Create</button>
{% endblock %}