{% extends 'shop/base.html' %}
{% load static %}

{% block additional_css %} <link rel="stylesheet" href="{% static 'css/customers.css' %}"> {% endblock %}

{% block content %}
    <h1>Add Customer</h1>
    <form class="createform" method="post">
        {% csrf_token %}
        <div class="formitems">
            {{ form_customer_create.as_p }}
            <button type="submit"><img src="{% static 'images/addicon24.svg' %}"></button>
        </div>
    </form>
    <h1>Search Customer</h1>
    <form class="searchform" method="post">
        <div>
        {% csrf_token %}
        {{ form_customer_search.as_p }}
        <button type="submit"><img src="{% static 'images/searchicon.svg' %}"></button>
        </div>
    </form>
{% endblock %}