{% extends 'shop/base.html' %}
{% load static %}

{% block additional_css %} <link rel="stylesheet" href="{% static 'css/removeorder.css' %}"> {% endblock %}

{% block content %}

    <h1>Remove Order</h1>

    <form method="post">
        {% csrf_token %}
        {% for item in remove_id %}
        <div id="input">
            {{ item.label_tag }}
            {{ item }}
        </div>
        {% endfor %}
        <button id="id_submit_button" type="submit">Submit</button>
    </form>

{% endblock %}