{% extends 'shop/base.html' %}

{% load static %}

{% block additional_css %} <link rel="stylesheet" href="{% static 'css/workorders.css' %}"> {% endblock %}

{% block content %}
    <h1>Work orders</h1>
    <div class="addremove">
        <h3>Create<a href="{% url 'addorder' %}"><img src="{% static 'images/addiconblack.svg' %}"></a></h3>
        <h3>Delete<a href="{% url 'removeorder' %}"><img src="{% static 'images/remove.svg' %}"></a></h3>
    </div>
    <div class="workorders">
        {% for obj in work_obj %}
        <div class="workorder">
            <div>
            <h1>Order number: {{obj.id}}</h1>
            <p>Name: {{ obj.customer }}</p>
            <p>Work order: {{ obj.work_title }}</p>
            <p>{{ obj.work_body }}</p>
            <p>Phone: {{ obj.phone_number }}</p>
            <p>Price: {{ obj.pricing }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}